html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
}

.index {
    background-color: #4b6f76;
    height: 500px; /* set a specified height */
    color: white;
}

.index_container{
    padding: 100px;
}

.event {
    Background-color: #4b6f76;
    height: 500px;
    padding: 150px;
}

.About_Us {
    Background-color: #4b6f76;
    height: 500px;
    padding-left: 30px;
    padding-top: 50px;
}