@page
@model EBEN_EZER.Pages.AboutUsModel
@{
}
<div class="About_Us">
    <div class="w-75" style="background-color: #4b6f76;">
            <h2 class="card-title">About Eben Ezer</h2>
            <p class="card-text">Eben Ezer is a small, english and spanish speaking church located in Bloomfield NM.
            We are part of the southern baptist convention with a deep love for God and striving to share the Gospel.</p>
    </div>
    <p></p>

    <h2>Pastors & staff</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color: #4b6f76;">
            Pastors: Leonel Camacho, Javier Viagran, Jorge Viagran</li>
        <li class="list-group-item" style="background-color: #4b6f76;">Treasurer:</li>
        <li class="list-group-item" style="background-color: #4b6f76;">Event coordinator:</li>
        <li class="list-group-item" style="background-color: #4b6f76;">Worship Leader: Judith Camacho</li>
    </ul>

    <h2>Contact:</h2>
    <p>Pastor: Leonel Camacho - leocam1689@gmail.com</p>

</div>