@page
@model EBEN_EZER.Pages.AboutUsModel
@{
}
<div class="About_Us">
    <h2>About Eben Ezer</h2>
    <p>Eben Ezer is a small, english and spanish speaking church located in Bloomfield NM.</p>
    <p>We are part of the southern baptist convention with a deep love for God and striviing to share the Gospel.</p>

    <h2>Pastors & staff:</h2>

    <h2>Contact:</h2>
    <p></p>

</div>