@page
@model EBEN_EZER.Pages.AboutUsModel
@{
}
<div class="About_Us">
    <div class="w-75" style="background-color: #4b6f76;">
            <h2 class="card-title">About Eben Ezer</h2>
            <p class="card-text">Eben Ezer is a small, english and spanish speaking church located in Bloomfield NM.
           We are an elder led church that started in 1992 and part of many conventions. We strive to share the gospel
           and encourage one another.</p>
    </div>
    <p></p>

    <h2>Pastors & staff</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color: #4b6f76;">
            Pastors: Leonel Camacho, Javier Aguirre, Jorge Villagran</li>
        <li class="list-group-item" style="background-color: #4b6f76;">Secretary: Sarai Aguirre</li>
        <li class="list-group-item" style="background-color: #4b6f76;">Treasurer: Dolores Ramos</li>
        <li class="list-group-item" style="background-color: #4b6f76;">Youth Leaders: Luis Camacho and Judith Camacho</li>
        <li class="list-group-item" style="background-color: #4b6f76;">Worship Leader: Judith Camacho</li>
        <li class="list-group-item" style="background-color: #4b6f76;">Cleaning Service: Rosa Gonzalez</li>
    </ul>
    
    <div class="">
        <div style="float: left; width: 50%">
    <h2>Contact</h2>
    <p>Pastor: Leonel Camacho - leocam1689@gmail.com</p>
        </div>

        <div style="float: right; width: 50%">
    <h2>Address</h2>
    <p>900 S Bloomfield Blvd, Bloomfield, NM 87413</p>
        </div>
    </div>

</div>