@page
@model EBEN_EZER.Pages.EventsModel
@{
}
<div class="event">

    <div>
        <div class="row align-items-start" style="margin-bottom: 40px;">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        January
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="#">Event</a></li>
                        <li><a class="dropdown-item" href="#">Event2</a></li>
                        <li><a class="dropdown-item" href="#">Event3</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Febuary
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="#">Event</a></li>
                        <li><a class="dropdown-item" href="#">Event2</a></li>
                        <li><a class="dropdown-item" href="#">Event3</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        March
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="#">Event</a></li>
                        <li><a class="dropdown-item" href="#">Event2</a></li>
                        <li><a class="dropdown-item" href="#">Event3</a></li>
                    </ul>
                </div>
            </div>
        </div>@*Janury-March*@
        <div class="row align-items-center" style="margin-bottom: 40px;">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        April
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="#">Event</a></li>
                        <li><a class="dropdown-item" href="#">Event2</a></li>
                        <li><a class="dropdown-item" href="#">Event3</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        May
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="#">Event</a></li>
                        <li><a class="dropdown-item" href="#">Event2</a></li>
                        <li><a class="dropdown-item" href="#">Event3</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        June
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="#">Event</a></li>
                        <li><a class="dropdown-item" href="#">Event2</a></li>
                        <li><a class="dropdown-item" href="#">Event3</a></li>
                    </ul>
                </div>
            </div>
        </div>@*April-June*@
        <div class="row align-items-center" style="margin-bottom: 40px;">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        July
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="#">Event</a></li>
                        <li><a class="dropdown-item" href="#">Event2</a></li>
                        <li><a class="dropdown-item" href="#">Event3</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        August
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="#">Event</a></li>
                        <li><a class="dropdown-item" href="#">Event2</a></li>
                        <li><a class="dropdown-item" href="#">Event3</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        September
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="#">Event</a></li>
                        <li><a class="dropdown-item" href="#">Event2</a></li>
                        <li><a class="dropdown-item" href="#">Event3</a></li>
                    </ul>
                </div>
            </div>
        </div>@*July-September*@
        <div class="row align-items-end" style="margin-bottom: 0px;">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        October
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="#">Event</a></li>
                        <li><a class="dropdown-item" href="#">Event2</a></li>
                        <li><a class="dropdown-item" href="#">Event3</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        November
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="#">Event</a></li>
                        <li><a class="dropdown-item" href="#">Event2</a></li>
                        <li><a class="dropdown-item" href="#">Event3</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        December
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="#">Event</a></li>
                        <li><a class="dropdown-item" href="#">Event2</a></li>
                        <li><a class="dropdown-item" href="#">Event3</a></li>
                    </ul>
                </div>
            </div>
        </div>@*October-December*@
    </div>

</div>