@page
@model EBEN_EZER.Pages.GospelModel
@{
}

<div class="Gospel">
<h2>The Ten Commandments</h2>

<h2>The Gospel</h2>

<p>The Gospel is the message that Jesus lived, died, and resurrected to save sinners.
    If you repent and believe in Jesus, God will save you</p>

</div>