@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="index">
    
<div class="text-center index_container">
    <h1>1 Samuel 7:12 "El Señor no ha dejado de ayudarnos."</h1>
    <h1>1 Samuel 7:12 "Thus far the Lord has helped us"</h1>
    <p></p>
    <h2>Servicios: Domingos 10:00am</h2>
    <h2>Services: Sundays 10:00am</h2>
</div>

</div>