@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="index">
    
<div class="text-center index_container">
    <h2>1 Samuel 7:12 "El Senor no ha dejado de ayudarnos"</h2>
    <h2>Servicios: Domingos 10:00am</h2>

</div>

</div>