@page
@model EBEN_EZER.Pages.Sobre_NosotrosModel
@{
}
<div class="About_Us">
    <div class="w-75" style="background-color: #4b6f76;">
        <h2 class="card-title">Acerca de Eben Ezer</h2>
        <p class="card-text">
            Eben Ezer es una pequeña iglesia que habla ingles y español en Bloomfield NM.
            Somos una iglesia dirigida por ancianos que comenzó en 1992 y forma parte de muchas convenciones. 
            Nos esforzamos por compartir el evangelio.
            Y animarnos unos a otros a crecer en el señor.
        </p>
    </div>
    <p></p>

    <h2>Pastores y personal</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color: #4b6f76;">
            Pastores: Leonel Camacho, Javier Aguirre, Jorge Villagran
        </li>
        <li class="list-group-item" style="background-color: #4b6f76;">Secretaria: Sarai Aguirre</li>
        <li class="list-group-item" style="background-color: #4b6f76;">Tesorera: Dolores Ramos</li>
        <li class="list-group-item" style="background-color: #4b6f76;">Líderes juveniles: Luis Camacho and Judith Camacho</li>
        <li class="list-group-item" style="background-color: #4b6f76;">Líder de adoración: Judith Camacho</li>
        <li class="list-group-item" style="background-color: #4b6f76;">Servicio de limpieza: Rosa Gonzalez</li>
    </ul>

    <div class="">
        <div style="float: left; width: 50%">
            <h2>Contacto</h2>
            <p>Pastor: Leonel Camacho - leocam1689@gmail.com</p>
        </div>

        <div style="float: right; width: 50%">
            <h2>Dirección</h2>
            <p>900 S Bloomfield Blvd, Bloomfield, NM 87413</p>
        </div>
    </div>

</div>